header {
  text-align: center;

  h1, h2 {
    // font-family: Mirza, serif;
    text-align: center;
  }

  // nav {
  //   margin: auto 0;

  //   ul {
  //     list-style: none;
  //     padding: 0;
  //   }

  //   li {
  //     display: inline-block;
  //     background: lightgray;
  //     border-radius: 5px;
  //     padding: 5px;
  //     margin: 5px;
  //     font-variant: small-caps;
  //   }
  // }
}

footer {
  p {
    font-family: Mirza, serif;
  }
  background: linear-gradient(to top, darkslategray, darkslategray 80%, white);
  color: white;
  padding: 10px;
}

#banner-images {
  display: block;

  img {
    max-height: 100px;
    display: inline;
  }
}

#banner-text {
  h1, h2 {
    padding: 1px;
  }
  padding: 10px;
  display: block;
  background: linear-gradient(to bottom, white, darkslategray 20%, darkslategray 80%, white);
  color: white;
}