<section class="personal-info">
  <h1>Mark Greenwood</h1>
  <p>Portland, OR</p>
  <p>mrkjgreenwood@gmail.com</p>
  <p>github.com/markgreenwood</p>
</section>
<section class="profile">
  <h1>Profile</h1>
  <p>I'm a full-stack developer who cares deeply about writing high-quality, maintainable, extensible code.</p>
</section>
<section class="tech-skills">
  <h1>Technical Skills</h1>
</section>
<section class="projects">
  <h1>Projects</h1>
  <article ng-repeat="project in $ctrl.projects">
    <h2>{{ project.name }}</h2>
  </article>
</section>
<section class="experience">
</section>