<!--<section id="personal-info">
  <h1>Mark Greenwood</h1>
  <p>Portland, OR</p>
  <p>503.720.7738 | mrkjgreenwood@gmail.com | github.com/markgreenwood</p>
  <hr>
</section>
<section id="profile">
  <h1>Profile</h1>
  <p>I'm a full-stack developer who cares deeply about writing high-quality, maintainable, extensible code.</p>
</section>
<section id="tech-skills">
  <h1>Technical Skills</h1>
</section>
<section id="projects">
  <h1>Projects</h1>
  <article ng-repeat="project in $ctrl.projects">
    <h2>{{ project.name }}</h2>
  </article>
</section>
<section id="experience">
</section>-->