<md-content class="grid-wrapper" layout-padding>
  <p class="col1">Full-stack polyglot developer with hardware and software experience, and a master’s degree in electrical engineering</p>
  <p class="col2">Unabashed math and statistics geek who creates apps to help people get data they need and turn it into well-informed decisions</p>
  <p class="col3">Passionate advocate for Agile, Lean, and TDD practices so I can deliver fast and flexibly, without sacrificing quality</p>
  <p class="col4">Cross-functional team leader who helps those with different perspectives realize common goals and get things done effectively</p>
  <p class="bottom">I believe people are most satisfied when they’re most productive, so I promote a culture of structured experimentation to consistently get better at the work we do.</p>
</md-content>