<md-content flex layout-padding>
<p>I'm a full-stack developer with degrees in electrical engineering and experience with many programming languages and tools. After working for years developing
  mobile communication products, I decided I was having the most fun when I was creating software. I attended a 14-week code school program
  to immerse myself in the world of web application development and shift my career direction a bit. With my strong background in Lean manufacturing, I'm intuitively 
  drawn to the principles of Agile development, and constantly seek ways to create more scalable, maintainable, and
  extensible software products while remaining flexible and highly productive. I strongly believe quality, flexibility, and productivity are
  not mutually exclusive.
</p>
</md-content>